html {
	margin: 0;
	padding: 0;
	font-size: 16px;
	min-width: 300px;
	--width: MAX(50rem, 80%);
	font-family: Roboto, Inter, -apple-system, BlinkMacSystemFont, Segoe UI,
		Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	font-family: Inter, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
		Helvetica, sans-serif;
}

h1 {
	font-size: 5rem;
	font-weight: 700;
}

h2 {
	font-size: 5rem;
	font-weight: 400;
}

h3 {
	font-size: 4rem;
	font-weight: 700;
}

p,
textarea {
	font-size: 3rem;
	font-weight: 400;
	font-family: Roboto, Inter, -apple-system, BlinkMacSystemFont, Segoe UI,
		Helvetica, sans-serif;
}

a {
	color: #2080ee;
	text-decoration: none;
}

b {
	font-size: 3rem;
	font-weight: 700;
}

i {
	font-size: 3rem;
	font-weight: 400;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
		sans-serif;
	font-style: italic;
}

code {
	font-size: 1rem;
	font-weight: 400;
	font-family: Roboto Mono, monospace;
}

input,
textarea {
	height: 3rem;
	font-size: 2rem;
	resize: none;
	border: 0.15rem #000000 solid;
	border-radius: 0.25rem;

	&::placeholder {
		color: #000000;
		opacity: 0.3;
	}
}

button {
	height: 3rem;
	font-size: 2rem;
	background-color: #edeeef;
	border: 0.1rem solid #000000;
	border-radius: 0.5rem;
}

button:hover {
	cursor: pointer;
	background-color: #f2f3f4;
}

button:disabled {
	cursor: default;
	background-color: #edeeef;
}

button:active {
	background-color: #cdcecf;
}

select {
	height: 2.5rem;
	font-size: 1.75rem;
	background-color: #edeeef;
	border: 0.1rem solid #000000;
	border-radius: 0.5rem;
}

select:hover {
	cursor: pointer;
	background-color: #f2f3f4;
}

select:active {
	background-color: #cdcecf;
}

@media (max-width: 1200px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 640px) {
	html {
		font-size: 10px;
		--width: MAX(35rem, 80%);
	}
}

@media (max-width: 480px) {
	html {
		font-size: 10px;
		--width: 80%;
	}
}
